header {
    margin:0px;
    padding: 30px;
    background-image: linear-gradient(#FFF2D8,#EAD7BB,#BCA37F,#113946);
}

.heading {
    font-size: 1.8em;
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro {
    font-size: 0.7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center-block {
    text-align: center;
}

.container {
    margin : auto;
    margin-top: 50px;
    width: 50%;
    height: 280px;
    padding: 50px;
    background-image: url(../assets/desktop-wallpaper-old-book-page-by-daviddiazolivares-900x1240-for-your-mobile-tablet-book-page-thumbnail.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.quote {
    font-family: monospace;
}

.author {
    margin-left: 65%;
    font-style: italic;
}